.add-products-section,
.add-users-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.add-products-container,
.add-users-container {
	margin: 1em;
}

.add-products,
.add-users {
	padding: 1em;
	margin: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}
form {
	margin-bottom: 1em;
}

.card {
	border: solid #101010;
	border-width: 3px 3px 15px 3px;
	width: 20em;
	height: 30em;
	background-color: #fdffd0;
	border-radius: 25px;
	color: #101010;
	justify-self: center;
	margin-bottom: 2em;
}

.product-picture {
	background-color: aliceblue;
	max-width: (20em-6px);
	height: 20em;
	padding: 3px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	overflow: hidden;
}
