.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.nav {
	display: flex;
	border: solid 2px rgb(16, 16, 16);
	border-radius: 25px;
	padding: 1.5em;
	margin: 4em;
	justify-content: space-around;
	max-width: 520px;
	min-width: 520px;
}
