/* header {
	margin: 4em;
} */
.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: #101010;
	margin: 4em 0em 4em 0em;
}

.burger {
	display: flex;
	margin-top: 4em;
}

.nav {
	display: none;
	border: solid 2px #101010;
	border-radius: 25px;
	padding: 1.5em;
	justify-content: space-around;
	max-width: 280px;
	color: #101010;
}

.menuitem {
	color: #101010;
}

.shop-name {
	text-align: center;
	margin-top: 1em;
}

.header {
	margin-left: 4.5em;
}
@media screen and (min-width: 920px) {
	.menu {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		color: #101010;
		margin: 4em 0em 4em 0em;
	}

	.burger {
		visibility: hidden;
	}

	.nav {
		visibility: visible;
		display: flex;
		border: solid 2px #101010;
		border-radius: 25px;
		padding: 1.5em;
		justify-content: space-around;
		max-width: 520px;
		min-width: 520px;
		color: #101010;
	}

	.menuitem {
		color: #101010;
	}
}
