li {
	list-style: none;
}

a {
	margin-bottom: 2em;
}
.card {
	border: solid #101010;
	border-width: 3px 3px 15px 3px;
	width: 20em;
	height: 30em;
	background-color: #fdffd0;
	margin: 3em;
	border-radius: 25px;
	color: #101010;
	margin: 0 auto;
}

.card p,
.detail-card p {
	padding: 0.5em 0.5em 0em 0.5em;
}

.add-to-cart-button {
	margin: 0.5em 0.5em 0em 0em;
}

.detail-card {
	border: solid #101010;
	border-width: 3px 3px 15px 3px;
	width: 20em;
	height: 30em;
	background-color: #fdffd0;
	margin: 3em;
	border-radius: 25px;
	color: #101010;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.product-picture {
	background-color: aliceblue;
	max-width: (20em-6px);
	height: 20em;
	padding: 3px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	overflow: hidden;
}

.product-image {
	width: 100%;
	object-fit: cover;
	height: 20em;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}
.productlink {
	width: 20em;
}

ul {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
}

.product-description {
	overflow: hidden;
	max-height: 64px;
}

.searchicon {
	display: flex;
	width: 20em;
	margin: 0 auto;
	justify-self: center;
}

.searchicon > * {
	margin: 0.5rem;
}

.searchicon > *:last-child {
	margin-right: 0;
}

.add-to-cart {
	display: flex;
	justify-content: space-between;
}

@media (min-width: 960px) {
	ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1440px) {
	ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}
