.footer {
	background-color: #fdffd0;
	min-height: 10em;
	bottom: 0;
	position: fixed;
	width: 100%;
	color: #101010;
	padding: 1em;
	display: grid;
	justify-content: space-between;
	grid-template-columns: auto;
}

ul {
	padding-bottom: 0.5em;
}

.footer-links ul {
	grid-template-columns: auto !important;
}

@media screen and (min-width: 470px) {
	.footer {
		background-color: #fdffd0;
		min-height: 10em;
		bottom: 0;
		position: fixed;
		width: 100%;
		color: #101010;
		padding: 1em;
		display: grid;
		justify-content: space-between;
		grid-template-columns: auto auto;
	}
}
