@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
	font-family: "Roboto Mono", monospace;
}

#root {
	min-height: 100%;
	position: relative;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	overflow: visible;
	min-height: 100vh;
	width: 100vw;
	padding-bottom: 20em;
	background-color: #fff6bc;
	/* background-image: "../assets/backgroundimage.svg"; */
	/* overflow-x: hidden; */
}

.error {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: auto;
	min-height: 100vh;
}
