@import url("https://fonts.google.com/specimen/Roboto+Mono?query=roboto+mono");

:root {
	font-family: "Roboto";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-image: url("./src/assets/backgroundimage.svg");
	overflow: visible;
	min-height: 100vh;
}
